<launch>
	<arg name="port" default="/dev/ttySTM32"/>
	<arg name="baud" default="250000"/>
	<arg name="imu_topic" default="attitude"/>
	<node name="leelawadee_mbed" pkg="rosserial_python" type="serial_node.py" output="screen">
		<remap from="attitude" to="$(arg imu_topic)"/>
		<param name="port" value="$(arg port)"/>
		<param name="baud" value="$(arg baud)"/>
	</node>
</launch>