<launch>
    <!-- Move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
        <!-- <rosparam file="$(find leelawadee_navigation)/cfg/movebase/costmap_common.yaml" command="load" ns="global_costmap" /> -->
        <!-- <rosparam file="$(find leelawadee_navigation)/cfg/movebase/costmap_common.yaml" command="load" ns="local_costmap" /> -->
        <!-- <rosparam file="$(find leelawadee_navigation)/cfg/movebase/local_costmap.yaml" command="load" /> -->
        <!-- <rosparam file="$(find leelawadee_navigation)/cfg/movebase/global_costmap.yaml" command="load" /> -->
        <!-- <rosparam file="$(find leelawadee_navigation)/cfg/movebase/move_base.yaml" command="load" /> -->
        <!-- <rosparam file="$(find leelawadee_navigation)/cfg/movebase/dwa_local_planner.yaml" command="load" /> -->
        <!-- <rosparam file="$(find leelawadee_navigation)/cfg/movebase/base_local_planner.yaml" command="load" /> -->

         <!-- global planner -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <rosparam file="$(find leelawadee_navigation)/cfg/global_planner_params.yaml" command="load" />
        <!-- local planner -->   
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>      
        <rosparam file="$(find leelawadee_navigation)/cfg/dwa_local_planner_params.yaml" command="load"/>       
        <!-- params for move_base -->
        <param name="planner_frequency" value="0.0" />
        <param name="controller_frequency" value="2.0" />
        <param name="controller_patience" value="3.0" />
        <!-- <param name="planner_patience" value="15.0" /> -->
        <param name="oscillation_timeout" value="10.0" />
        <param name="oscillation_distance" value="0.05" />
        <param name="clearing_rotation_allowed" value="false" />
        <!-- params for costmap layers --> 
        <rosparam file="$(find leelawadee_navigation)/cfg/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find leelawadee_navigation)/cfg/global_costmap_params.yaml" command="load"/>
    </node>
</launch>